{
  "$schema": "https://opencode.ai/config.json",
  "plugin": ["cc-safety-net", "context-mode"],
  "default_agent": "orchestrator",
  "provider": {
    "zai-coding-plan": {
      "options": {
        "apiKey": "{{ onepasswordRead "op://TOKEN/zai-api-key/credential" }}"
      }
    },
  },
  "lsp": true,
  "mcp": {
    "mcps": {
      "type": "remote",
      "url": "{{ onepasswordRead "op://TOKEN/lapis-mcp-1/url" }}",
      "headers": {
        "Authorization": "Bearer {{ onepasswordRead "op://TOKEN/lapis-mcp-1/credential" }}"
      },
      "enabled": true
    }
  },
  "agent": {
    "orchestrator": {
      "permission": {
        "mcps_*": "deny"
      }
    },
    "coder": {
      "permission": {
        "mcps_*": "deny"
      }
    },
    "reviewer": {
      "permission": {
        "mcps_*": "deny"
      }
    },
    "tester": {
      "permission": {
        "mcps_*": "deny"
      }
    },
    "general": {
      "disable": true
    }
  }
}
